hw2/work/mywsdl.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ServerService">
<types/>
<message name="instructorEnter">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:boolean"/>
<part name="arg3" type="xsd:boolean"/>
</message>
<message name="instructorEnterResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="instructorExit">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:boolean"/>
<part name="arg2" type="xsd:boolean"/>
</message>
<message name="instructorExitResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="studentExit">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:boolean"/>
<part name="arg3" type="xsd:boolean"/>
</message>
<message name="studentExitResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="studentEnter">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:boolean"/>
<part name="arg3" type="xsd:boolean"/>
</message>
<message name="studentEnterResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="ServerAPI">
<operation name="instructorEnter" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://server/ServerAPI/instructorEnterRequest" message="tns:instructorEnter"/>
<output wsam:Action="http://server/ServerAPI/instructorEnterResponse" message="tns:instructorEnterResponse"/>
</operation>
<operation name="instructorExit" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server/ServerAPI/instructorExitRequest" message="tns:instructorExit"/>
<output wsam:Action="http://server/ServerAPI/instructorExitResponse" message="tns:instructorExitResponse"/>
</operation>
<operation name="studentExit" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://server/ServerAPI/studentExitRequest" message="tns:studentExit"/>
<output wsam:Action="http://server/ServerAPI/studentExitResponse" message="tns:studentExitResponse"/>
</operation>
<operation name="studentEnter" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://server/ServerAPI/studentEnterRequest" message="tns:studentEnter"/>
<output wsam:Action="http://server/ServerAPI/studentEnterResponse" message="tns:studentEnterResponse"/>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:ServerAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="instructorEnter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://server/"/>
</input>
<output>
<soap:body use="literal" namespace="http://server/"/>
</output>
</operation>
<operation name="instructorExit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://server/"/>
</input>
<output>
<soap:body use="literal" namespace="http://server/"/>
</output>
</operation>
<operation name="studentExit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://server/"/>
</input>
<output>
<soap:body use="literal" namespace="http://server/"/>
</output>
</operation>
<operation name="studentEnter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://server/"/>
</input>
<output>
<soap:body use="literal" namespace="http://server/"/>
</output>
</operation>
</binding>
<service name="ServerService">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8080/hello"/>
</port>
</service>
</definitions>