hw2/Prof examples/JAX-WS/JAX-WS/JAX-WS/HelloWorld_wsgen/WSDL_SOAP11/HelloWorldImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://HelloWorld_wsgen/" xmlns:tns="http://HelloWorld_wsgen/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="HelloWorld" type="tns:HelloWorld"/>

  <xs:element name="HelloWorldResponse" type="tns:HelloWorldResponse"/>

  <xs:complexType name="HelloWorld">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HelloWorldResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

